<section class="about container">
 <h1 class="text-center mb-5">About</h1>
 <p>
  Online courses are the modern version of courses: you can create and share learning content in an organized way that allows users to progress in their understanding of a certain topic. It consists basically on a curriculum, or study plan, organized in units. Online courses can include videos, images, text and hyperlinks. You can share them easily with a link or send an invitation email to the users.
 </p>
 <p>
  e-Learning is the delivery of learning and training through digital resources. Although eLearning is based on formalized learning, it is provided through electronic devices such as computers, tablets and even cellular phones that are connected to the internet. This makes it easy for users to learn anytime, anywhere, with few, if any, restrictions. Basically, eLearning is training, learning, or education delivered online through a computer or any other digital device.
 </p>
 <p>
  Online education enables the teacher and the student to set their own learning pace, and there’s the added flexibility of setting a schedule that fits everyone’s agenda. As a result, using an online educational platform allows for a better balance of work and studies, so there’s no need to give anything up. Studying online teaches you vital time management skills, which makes finding a good work-study balance easier. Having a common agenda between the student and teacher can also prompt both parties to accept new responsibilities and have more autonomy. 
 </p>

 <div class="follow text-center mt-5 pt-3 pb-3">
   <h5>FOLLOW US</h5>
   <a href="#">Facebook</a>
   <a href="#">Youtube</a>
   <a href="#">Instagram</a>
   <a href="#">Twitter</a>
 </div>
</section>
